body{
    margin-left: 20px;
    background-color: lightgreen;
}
.chat{
    background-color: white;
    padding: 20px;
    border-radius: 16px;
    width: 33%;
}
.msg{
    background-color: rgb(28, 161, 223);
    padding: 5px 16px;
    border-radius: 16px;
    
}
.edit{
    background-color: aquamarine;
    border-radius: 4px;
}